<p id="notice"><%= notice %></p>

<p>
  <strong>Fisrt name:</strong>
  <%= @wizard.fisrt_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @wizard.last_name %>
</p>

<%= link_to 'Edit', edit_house_wizard_path(@house, @wizard) %> |
<%= link_to 'Back', house_wizards_path(@house) %>
