<h1>Hello to book community</h1>

<h2><%= link_to "Add new book", new_author_book_path(@author) %></h2>
<br>
<table>
    <tr>
        <th> no.</th>
        <th> Book Name </th>
        <th> Original Language</th>
    </tr>

<% @books.each do |book|%>
    <tr>
        <td><%= book.id %></td>
        <td><%= book.title  %></td>
        <td><%= book.originalLanguage  %></td>
        <td><%= link_to "Show", author_book_path(@author,book) %> | </td>
        <td><%= link_to'Delete', author_book_path(@author, book), method: :delete %></td>

    <tr>

    <% end %>
</table> 
