<h1>New Book to our Library</h1>

<%= form_for @book, url: {action: "create"} do |f| %>
    <table>
    <tr>
        <th>Book Name: </th>
        <td><%= f.text_field :title, required: true %></td>
    </tr>

    <tr>
        <th>Original Language:</th>
        <td> <%= f.text_field  :originalLanguage %> </td>
    </tr>

    <tr>
        <th>Book Date:</th>
        <td> <%= f.date_field :printDate %> </td>
    </tr>
    
    <tr>
         <td><%= f.submit "New Book" %> | </td>
         <td><%=link_to "Back to Main Page",books_path %></td>
    <tr>
    <% end %>
</table>