<h1>New Book to our Library</h1>

<%= form_for @book, url: {action: "create"} do |f| %>
    <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table>
    <tr>
        <th>Book Name: </th>
        <td><%= f.text_field :title %></td>
    </tr>

    <tr>
        <th>Original Language:</th>
        <td> <%= f.text_field  :originalLanguage %> </td>
    </tr>

    <tr>
        <th>Book Date:</th>
        <td> <%= f.date_field :printDate %> </td>
    </tr>
    
    <tr>
         <td><%= f.submit "New Book" %> | </td>
         <td><%=link_to "Back to Main Page",author_books_path(@author) %></td>
    <tr>
    <% end %>
</table>