<h1>Book Page</h1>

<table>
    <tr>
        <th>Book Name:</th>
        <td> <%= @book.title %> </td>
    </tr>

    <tr>
        <th>Original Language:</th>
        <td> <%= @book.originalLanguage %> </td>
    </tr>

    <tr>
        <th>Book Date:</th>
        <td> <%= @book.printDate %> </td>
    </tr>

    <tr>
        <td><%=link_to "Back to Main Page",author_books_path(@author) %> |
        <%= link_to'Edit', edit_author_book_path(@author,@book) %> |
        <%= link_to'Delete this author!', author_book_path(@author,@book), method: :delete %></td>
    </tr>

</table>
