<h1>Author Page</h1>

<table>
    <tr>
        <th>First Name:</th>
        <td> <%= @author.firstName %> </td>
    </tr>

    <tr>
        <th>Last Name: </th>
        <td> <%= @author.lastName %> </td>
    </tr>

    <tr>
        <th>Nick Name: </th>
        <td><%= @author.nickname %></td>
    </tr>

    <tr>
        <th>Age: </th>
        <td><%= @author.age %></td>
    </tr>

    <tr>
        <th>Home Town: </th>
        <td><%= @author.homeTown %></td>
    </tr>

    <tr>
        <th>Location: </th>
        <td><%= @author.location %> </td>
    </tr>

    <tr>
        <td><%=link_to "Back to Main Page",authors_path %> |
        <%= link_to'Edit', edit_author_path(@author) %> |
        <%= link_to'Delete this author!', author_path(@author), method: :delete %></td>
    </tr>

</table>
